<div class="container" id = "home-flats">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
        <div class="card-category">Germany, Berlin</div>
        <div class="card-description">
          <h2>Fabi's room</h2>
          <p>Charming room in Berlin</p>
        </div>
        <img class="card-user" src="https://avatars0.githubusercontent.com/u/29142014?v=4">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/barcelona');">
        <div class="card-category">Spain, Barcelona</div>
        <div class="card-description">
          <h2>Etienne's flat</h2>
          <p>Cool flat in Barcelona</p>
        </div>
        <img class="card-user" src="https://avatars0.githubusercontent.com/u/29711621?v=3">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/rio');">
        <div class="card-category">Brazil, Rio</div>
        <div class="card-description">
          <h2>Elo's room</h2>
          <p>Nice flat in Rio</p>
        </div>
        <img class="card-user" src="https://avatars4.githubusercontent.com/u/26677870?v=4">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>
