// Define variables for your color scheme

// For example:
$red: #D23333;
$red-light : #da552f;
$blue: #8E9FE6;
$blue-light : #616668;
$yellow: #F0F3B0;
$orange: #E67E22;
$green: #A3DE83;
$gray: #E6E6E6;
$light-gray: #F4F4F4;
$gray-dark : #999999 ;
